%h3 Learn to Code!
%hr


%div
- @resources.each do |resource|
  .box
    .row
      .col-md-8.col-xs-8
        %h4= link_to resource.title, resource.url, target: '_blank'
      .col-md-4.col-xs-4
        %h5{style: 'text-align: right;'}= "#{resource.language.camelcase}, #{resource.free ? "Free" : "Not free"}"
    .row{style: 'margin-left: 2px; margin-right: 2px;'}
      %p= resource.description
