%h3 Welcome and Hello!
%div{style: "margin-bottom: 50px;"}
  %p
    Hi there! I’m Jacinda. I might have shared this document with you, or someone else may have shared it to you on my behalf. Regardless, I’m glad you’re here! Coding has brought such joy to my life and pushes in me in ways I couldn’t imagine before. I love the challenge and thrill of figuring something out, and building things that I can be proud of. If you watch Westworld, the feeling of extreme joy I experience after figuring something out is similar to what Felix experienced, when he
    = link_to "made the bird fly", "http://www.youtube.com/watch?v=W8kmXkU3KT4&t=2m11s", target: "_blank"
    = image_tag "smiley_face_emoji.png", width: 15, class: "image_tag"

  %p
    Unlike what most people think, “innate” coding skills isn’t something you’re born with. You can consistently work hard and become a really amazing programmer. You don’t have to be someone who started taking apart computers when you were 10 to be a “nerd” or a “real programmer”. If you’re still skeptical, you should watch this
    = link_to "amazing TED talk", "https://www.youtube.com/watch?v=_X0mgOOSpLU", target: "_blank"
    about the power of believing you can improve.

  %p We are also entering a new era of software engineering where being a programmer doesn’t have to consume your entire life, and doesn’t need be a part of your identity. While in the past engineering was regarded more like a way of living, these days, many software engineers aren’t weirdoes who don’t shower and code 14 hours a day, rinse, and repeat. Lots of engineers enjoy their jobs, but code 9-5 and then go home to other interests or their families.

  %p If you have more questions, feel free to email me at jacindaz [at] gmail.com. I’m happy to answer questions about anything, discuss bootcamp options, review code, etc. Everyone should learn to code! If you’re in the bay area, I’m also happy to grab coffee with you sometime to chat!

  %p <3, Jacinda

%h3 Resources for ya
%div
- @resources.each do |resource|
  .box-with-border
    .row
      .col-md-8.col-xs-8
        %h4= link_to resource.title, resource_path(resource)
      .col-md-4.col-xs-4
        %h5{style: 'text-align: right;'}= "#{resource.language.camelcase}, #{resource.free ? "Free" : "Not free"}"
    .row{style: 'margin-left: 2px; margin-right: 2px;'}
      %p= resource.description
      %p= link_to resource.url, resource.url, target: '_blank'
    = render partial: "tags", locals: { tags: resource.tag_list, resource: resource }

