%h3= @resource.title
%hr

%h5= "#{@resource.language.camelcase}, #{@resource.tech ? @resource.tech.camelcase + "," : nil} #{@resource.free ? "Free" : "Not free"}"

%p= @resource.description
%p= link_to @resource.url, @resource.url, target: '_blank'

%div{ style: "margin-top: 30px;" }
  - @resource.tag_list.each do |tag|
    %button.btn.btn-info.tag-font-size
      = link_to tag, resource_path(@resource), class: "resource-tag-button"
