%h3= @resource.title
%hr

%h5= "#{@resource.language.camelcase}, #{@resource.tech ? @resource.tech.camelcase + "," : nil} #{@resource.free ? "Free" : "Not free"}"

%p= @resource.description
%p= link_to @resource.url, @resource.url, target: '_blank'

%h3 Tags
%ul
  - @resource.tag_list.each do |tag|
    %li= tag
